.modal__gallery-img {
  cursor: pointer;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal__image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

.modal__caption {
  display: block;
  width: 80%;
  max-width: 1000px;
  height: 100px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 50px;
}
